<form th:fragment="form">
    <div class="modal fade" id="removeConsultationStatus" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span class="fa fa-trash"></span> Remove Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-line hidden">
                        <input type="text" th:field="*{idConsultationStatus}" class="idConsultationStatusRemove form-control" placeholder="ConsultationStatus Id" required>
                    </div>
                    <div class="form-line hidden">
                        <input type="text" th:field="*{nameConsultationStatus}" class="nameConsultationStatusRemove form-control" placeholder="ConsultationStatus Name" required>
                    </div>
                    <div class="form-line hidden">
                        <input type="text" th:field="*{activeConsultationStatus}" class="activeConsultationStatusRemove form-control" placeholder="ConsultationStatus Active" required>
                    </div>

                    <strong>Are you sure to remove <b>ConsultationStatus</b> <u><span class="nameConsultationStatusRemoveText"></span></u> ?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="remove-row" name="Remove" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</form>